# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Govendor stuff
vendor/*/

npm-debug.log
target
elm-stuff
node_modules
static/app.js
public
firebase-debug.log
.firebaserc
