<html><head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Use Bell+Cat to organize your work. It's Simple, powerful and free">

  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Wallet - Just that">
  <meta property="og:description" content="Just another wallet">
  <meta property="og:image" content="">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="icon" type="image/png" href="">

  <title>Wallet</title>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.7.4/tachyons.min.css" integrity="sha256-rxqPrwapx4d3kPbBGkQObPOh+uZNKlULExsOeBc6D5I=" crossorigin="anonymous">


</head>

<body class="w-100 w-100 sans-serif bg-white">
  <div class="animated fadeIn w-100">
      <div class="mw7 center">
        <div>
            <nav class="pa2">
              <div class="w-100 relative">
                  <a href="/">
                  <h3 class="mln2 dim black fw2 tc">Simple Ethereum Wallet</h3>
                  </a>
              </div>
            </nav>
            <div class="bg-light-gray pa4 br2-ns ba b--black-10 mb3">
              <h2>{{ .Title }}</h2>
            </div>
        </div>
        <div class="ph3">